
/*@override*/
.navbar {
    border: none;
}

#game .game_row {
    width: 1728px;
    margin-left: auto;
    margin-right: auto;
}

#game .game_container {
    padding-top: 0;
    padding-bottom: 0;
}

#canvas{
    width: 1728px;
    height: 864px;
}

.level1 {
    position: fixed;
    background-image: url("../resource/img/site/level1_copy2.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}

.level2 {
    position: fixed;
    background-image: url("../resource/img/site/level2.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}

.level3 {
    position: fixed;
    background-image: url("../resource/img/site/level3.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}

.tutorial {
    position: absolute;
    background-image: url("../resource/img/site/tutorial.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#operationButtonBox {
    position: relative;
    top: 768px;
    left: 15%;
    z-index: 100;

    width: auto;
}

.operationButton {
    float: left;
    cursor: pointer;
    background-size: contain;
}

#skipButton {
    position:relative;
    margin-right: 48%;
    margin-top: 10px;
}

#nextButton {

}

#backButton {
    margin-right: 4%;
}

#imagebox {
    position: relative;
    /*left: -128px;*/
    z-index: 99;
}

#canvas img {
    z-index: -1;
    align-content: center;
}


/*All the clues*/

.letterT {
    position: absolute;
    top: 48%;
    left: 47%;
    width: 132px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0);
    z-index: 2;
}

.newspaperT {
    position: absolute;
    top: 75%;
    left: 40%;
    width: 132px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0);
    z-index: 2;
}

.mapT {
    position: absolute;
    top: 74%;
    left: 88%;
    width: 132px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0);
    z-index: 2;
}


.Louis_14 {
    position: absolute;
    top: 41%;
    left: 24%;
    width: 132px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0);
    z-index: 2;
}


.bastille {
    position: absolute;
    top:41%;
    left:69%;
    width: 132px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0);
    z-index: 2;
}

.Louis_16 {
    position: absolute;
    top:32%;
    left:44%;
    width: 218px;
    height: 335px;
    background-color: rgba(255, 255, 255, 0);
    z-index: 2;
}

.coin {
    position: absolute;
    top:72%;
    left:10%;
    width: 100px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0);
    z-index: 2;
}

.frenchRevo {
    position: absolute;
    top:62%;
    left:23%;
    width: 150px;
    height: 90px;
    background-color: rgba(255, 255, 255, 0);
    z-index: 2;
}

.freedom {
    position: absolute;
    top:62%;
    left:70%;
    width: 120px;
    height: 90px;
    background-color: rgba(255, 255, 255, 0);
    z-index: 2;
}

.coins {
    position: absolute;
    top:48%;
    left:86%;
    width: 120px;
    height: 60px;
    background-color: rgba(255, 255, 255, 1);
    z-index: 2;
}

.bridge1970 {
    position: absolute;
    top:49%;
    left:55%;
    width: 110px;
    height: 100px;
    background-color: rgba(255, 255, 255, 1);
    z-index: 2;
}

.Buckingham_palace {
    position: absolute;
    top:28%;
    left:37%;
    width: 200px;
    height: 30px;
    background-color: rgba(255, 255, 255, 1);
    z-index: 2;
}

.George_IV_1821_color {
    position: absolute;
    top:38%;
    left:23%;
    width: 70px;
    height: 90px;
    background-color: rgba(255, 255, 255, 1);
    z-index: 2;
}

.Industrial_Revolution {
    position: absolute;
    top:39%;
    left:44%;
    width: 85px;
    height: 40px;
    background-color: rgba(255, 255, 255, 1);
    z-index: 2;
}

/*Pop-ups*/


.mask {
    width: 100%;
    height: 100%;
    z-index: 3;
    background: #000000;
    position: fixed;
    top: 0;
    left: 0;
    display: none;

}

.winmask {
    width: 100%;
    height: 100%;
    z-index: 99;
    background: #000000;
    position: fixed;
    top: 0;
    left: 0;
    display: none;

}

#winmessage {
    display: none;
    width:360px;
    height:360px;
    padding:8px;

    background: rgba(255, 147, 65, 0);

    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;

    position:absolute !important;
    top:50% !important;
    left:50% !important;
    margin-top:-94px !important;
    margin-left:-180px !important;
    z-index:101;
}

#heading{
    font-size:18px;
    font-weight:bold;
    text-align:center;
    line-height:44px;

    color: #ffffff;
    margin-bottom: 10px;
    text-shadow:0px 1px 0px rgba(255, 255, 255, 0.22);
}




#winmessage>#content>p{
    color:#fff;
}

.button{
    margin-top: 20px;
    text-align: center;
}

.btnB {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    float: left;
}

.btnB:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

.btnO {
    background: #d98934;
    background-image: -webkit-linear-gradient(top, #d98934, #c96800);
    background-image: -moz-linear-gradient(top, #d98934, #c96800);
    background-image: -ms-linear-gradient(top, #d98934, #c96800);
    background-image: -o-linear-gradient(top, #d98934, #c96800);
    background-image: linear-gradient(to bottom, #d98934, #c96800);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    float: right;
}

.btnO:hover {
    background: #c7752e;
    background-image: -webkit-linear-gradient(top, #c7752e, #ab440c);
    background-image: -moz-linear-gradient(top, #c7752e, #ab440c);
    background-image: -ms-linear-gradient(top, #c7752e, #ab440c);
    background-image: -o-linear-gradient(top, #c7752e, #ab440c);
    background-image: linear-gradient(to bottom, #c7752e, #ab440c);
    text-decoration: none;
}

#window {
    width: 800px;
    max-height: 1000px;
    position: fixed;
    background-color: #FFFFFF;
    top: -864px;
    left: 50%;
    right: 50%;
    margin-left: -410px;
    z-index: 4;
    padding: 20px 30px 30px 30px;
    display: none;
}

#window:before, #window:after {
    content: " ";
    clear: both;
    display: block;
}

#register {
    width: 800px;
    background: #ffffff;
    position: fixed;
    top: -864px;
    left: 50%;
    margin-left: -250px;
    z-index: 99;
    display: none;
}

.close {
    position: absolute;
    right: 10px;
    top: 10px;
}

.close-icon {
    width: 20px;
    height: 20px;
    /*background-image: url("../img/close.png");*/
    background-size: cover;

}

.showImage {
    float: left;
    max-width: 45%;
}

.clueImage {
    height: auto;
    max-width: 100%;
    width: 340px;
    overflow: hidden;

    vertical-align: top;
}

.introduction {
    float: right;
    width: auto;
    max-width: 45%;
    max-height: 500px;
    margin-left: 40px;
    overflow-y: scroll;
}

.clueText{
    word-wrap: break-word;
    font-size: 16px;
}

#mp3_1{
    position:absolute;
    top:95%;
    left: 1%;
    z-index: 3;
}

#mp3_T{
    position:absolute;
    top:95%;
    left: 1%;
    z-index: 3;
}

#countdown{
    position:absolute;
    z-index: 3;
}

#clues{
    position: absolute;
    background-image: url("../img/tools/clues.png");
    background-size: cover;
    right: 10%;
    z-index: 4;
}



.question{
    display: none;
    position: absolute;
    left:26%;
    z-index: 2;
}

.questionimg{
    height: 200px;
    width: 847px;
}

#checkinput{
    display: none;
    top:700px;
    left: 50%;
    right: 50%;
    margin-left: -314px;
    position: relative;
    z-index: 10;
    width: 624px;
    height: auto;
}

.custom{
    cursor:url(../img/tools/magnifying_glass.png), auto;
}

input.game-input {
    
    background-image: url("../img/tools/input.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: rgba(0,0,0,0);
    width: 624px;
    height: 85px;
    padding: 15px 150px;
    border: none;
    float: left;
}

#submit {
    background-image: url("../img/tools/submit.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgba(0,0,0,0);
    width: 170px;
    height: 54px;
    border: none;
    margin: 20px 40px 10px 102px;
    text-indent: 999px;
    overflow: hidden;
    float: left;
}

#submit:hover {

}

#clear {
    background-image: url("../img/tools/clear.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgba(0,0,0,0);
    width: 170px;
    height: 54px;
    margin: 20px 102px 10px 40px;
    text-indent: 999px;
    overflow: hidden;
    border: none;
    float: left;
}

.imageswap{
    position: absolute;
    width: 1728px;
    height: 864px;
    z-index: 99;
}
