
/*@override*/
.navbar {
    border: none;
}

#game .game_row {
    width: 1728px;
    margin-left: auto;
    margin-right: auto;
}

#game .game_container {
    padding-top: 0;
    padding-bottom: 0;
}

#canvas{
    width: 1728px;
    height: 864px;
}

.level1 {
    position: fixed;
    background-image: url("../resource/img/site/level1_copy2.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}

.tutorial {
    position: fixed;
    background-image: url("../resource/img/site/tutorial.jpg");
    background-size: cover;
    background-repeat: no-repeat;


}



#game>.game_row>.game_container>#btnbox{
    position: absolute;
    top: 90%;
    left: 85%;
    z-index: 4;
}

#canvas img {
    z-index: -1;
    align-content: center;
}


/*need to change the top and left here*/
.Louis_14 {
    position: absolute;
    top: 41%;
    left: 24%;
    width: 132px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0);
    z-index: 2;
}


.bastille {
    position: absolute;
    top:41%;
    left:69%;
    width: 132px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0);
    z-index: 2;
}

.Louis_16 {
    position: absolute;
    top:32%;
    left:44%;
    width: 218px;
    height: 335px;
    background-color: rgba(255, 255, 255, 0);
    z-index: 2;
}


.mask {
    width: 100%;
    height: 100%;
    z-index: 3;
    background: #000000;
    position: fixed;
    top: 0;
    left: 0;
    display: none;

}

#winmessage {
    display: none;
    width:360px;
    height:360px;
    padding:8px;

    background: rgba(255, 147, 65, 0);

    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;

    position:absolute !important;
    top:50% !important;
    left:50% !important;
    margin-top:-94px !important;
    margin-left:-180px !important;
    z-index:101;
}

#heading{
    font-size:18px;
    font-weight:bold;
    text-align:center;
    line-height:44px;

    color: #ffffff;
    margin-bottom: 10px;
    text-shadow:0px 1px 0px rgba(255, 255, 255, 0.22);
}




#winmessage>#content>p{
    color:#fff;
}

.btnB {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    float: left;
}

.btnB:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

.btnO {
    background: #d98934;
    background-image: -webkit-linear-gradient(top, #d98934, #c96800);
    background-image: -moz-linear-gradient(top, #d98934, #c96800);
    background-image: -ms-linear-gradient(top, #d98934, #c96800);
    background-image: -o-linear-gradient(top, #d98934, #c96800);
    background-image: linear-gradient(to bottom, #d98934, #c96800);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    float: right;
}

.btnO:hover {
    background: #c7752e;
    background-image: -webkit-linear-gradient(top, #c7752e, #ab440c);
    background-image: -moz-linear-gradient(top, #c7752e, #ab440c);
    background-image: -ms-linear-gradient(top, #c7752e, #ab440c);
    background-image: -o-linear-gradient(top, #c7752e, #ab440c);
    background-image: linear-gradient(to bottom, #c7752e, #ab440c);
    text-decoration: none;
}

#window {
    width: 800px;
    max-height: 500px;
    position: fixed;
    background-color: #FFFFFF;
    top: -864px;
    left: 50%;
    right: 50%;
    margin-left: -410px;
    z-index: 4;
    padding: 20px 30px 30px 30px;
    display: none;
}

#window:before, #window:after {
    content: " ";
    clear: both;
    display: block;
}

#register {
    width: 800px;
    background: #ffffff;
    position: fixed;
    top: -864px;
    left: 50%;
    margin-left: -250px;
    z-index: 99;
    display: none;
}

.close {
    position: absolute;
    right: 10px;
    top: 10px;
}

.close-icon {
    width: 20px;
    height: 20px;
    /*background-image: url("../img/close.png");*/
    background-size: cover;

}

.showImage {
    float: left;
    max-width: 45%;
}

.clueImage {
    width: auto;
    max-width: 100%;
    height: 450px;
    overflow: scroll;
    vertical-align: top;
}

.introduction {
    float: right;
    width: auto;
    max-width: 45%;
    max-height: 450px;
    margin-left: 40px;
    overflow-y: scroll;
}

.clueText{
    word-wrap: break-word;
    font-size: 16px;
}

#mp3_1{
    position:absolute;
    top:95%;
    left: 1%;
    z-index: 3;
}

#mp3_T{
    position:absolute;
    top:95%;
    left: 1%;
    z-index: 3;
}

#countdown{
    position:absolute;
    z-index: 3;
}

.question{
    display: none;
    position: absolute;
    left:26%;
    z-index: 2;
}

.questionimg{
    height: 200px;
    width: 847px;
}

#checkinput{
    display: none;
    top:93%;
    left: 45%;
    position: fixed;
    z-index: 99;

}

.custom{
    cursor:url(../img/tools/magnifying_glass.png), auto;
}

input[type=text] {
    border: 5px solid white;
    -webkit-box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
    0 0 16px rgba(0,0,0,0.1);
    -moz-box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
    0 0 16px rgba(0,0,0,0.1);
    box-shadow:
    inset 0 0 8px  rgba(0,0,0,0.1),
    0 0 16px rgba(0,0,0,0.1);
    padding: 15px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
}

#submit {
    -moz-box-shadow:inset 0px 1px 0px 0px #a6827e;
    -webkit-box-shadow:inset 0px 1px 0px 0px #a6827e;
    box-shadow:inset 0px 1px 0px 0px #a6827e;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7d5d3b), color-stop(1, #634b30));
    background:-moz-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
    background:-webkit-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
    background:-o-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
    background:-ms-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
    background:linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7d5d3b', endColorstr='#634b30',GradientType=0);
    background-color:#7d5d3b;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    border:1px solid #54381e;
    display:inline-block;
    cursor:hand;
    color:#ffffff;
    font-family:Verdana;
    font-size:16px;
    padding:18px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #4d3534;
}
#submit:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #634b30), color-stop(1, #7d5d3b));
    background:-moz-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
    background:-webkit-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
    background:-o-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
    background:-ms-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
    background:linear-gradient(to bottom, #634b30 5%, #7d5d3b 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#634b30', endColorstr='#7d5d3b',GradientType=0);
    background-color:#634b30;
}
#submit:active {
    position:relative;
    top:1px;
}

.imageswap{
    position: absolute;
    width: 1728px;
    height: 864px;
    z-index: 3;
}
