
@font-face {
    font-family:"Bookman";
    font-style: normal;
    font-weight: 400;
    src: local('Bookman Old Style Normal'), local('Bookman-Old-Style-Normal'),
    url(../resource/font/BOOKOS.TTF),
    url(../resource/font/BOOKOS.woff);
}

body{
    background-color: rgba(0, 0, 0, 0.76);
}

/*@override*/
.navbar {
    border: none;
}

#game .game_row {
    width: 1728px;
    margin-left: auto;
    margin-right: auto;
}

#game .game_container {
    padding-top: 0;
    padding-bottom: 0;
}

#canvas{
    width: 1728px;
    height: 864px;
}

.level1 {
    position: fixed;
    background-image: url("../resource/img/site/level1_copy2.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}

.level2 {
    position: fixed;
    background-image: url("../resource/img/site/level2.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}

.level3 {
    position: fixed;
    background-image: url("../resource/img/site/level3.jpg");
    background-size: cover;
    background-repeat: no-repeat;

}

.tutorial {
    position: absolute;
    background-image: url("../resource/img/site/tutorial.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#operationButtonBox {
    position: relative;
    top: 768px;
    left: 15%;
    z-index: 100;

    width: auto;
}

#operationButtonBoxLast {
    display: none;
    position: relative;
    top: 768px;
    left: 15%;
    z-index: 100;
    width: auto;
}

.operationButton {
    float: left;
    cursor: pointer;
    background-size: contain;
    background-position: left center;
    background-repeat: no-repeat;
    height: 35px;
}

#skipButton {
    background-image: url("../img/tools/skip_button.png");
    width: 94px;
    position:relative;
    margin-right: 48%;
    margin-top: 10px;
    transition: all 0.2s ease-in-out;
}

#skipButtonLast {
    background-image: url("../img/tools/skip_button.png");
    width: 94px;
    position:relative;
    margin-right: 48%;
    margin-top: 10px;
    transition: all 0.2s ease-in-out;
}

#skipButton:hover {
    background-image: url("../img/tools/skip_button_hover.png");
    transition: all 0.2s ease-in-out;
}

#skipButtonLast:hover {
    background-image: url("../img/tools/skip_button_hover.png");
    transition: all 0.2s ease-in-out;
}

#nextButton {
    background-image: url("../img/tools/next_button.png");
    width: 118px;
    transition: all 0.2s ease-in-out;
}

#nextButtonLast {
    background-image: url("../img/tools/next_button.png");
    width: 118px;
    transition: all 0.2s ease-in-out;
}

#nextButton:hover {
    background-image: url("../img/tools/next_button_hover.png");
    transition: all 0.2s ease-in-out;
}

#nextButtonLast:hover {
    background-image: url("../img/tools/next_button_hover.png");
    transition: all 0.2s ease-in-out;
}

#backButton {
    background-image: url("../img/tools/prev_button.png");
    width: 118px;
    margin-right: 4%;
    transition: all 0.2s ease-in-out;
}

#backButtonLast {
    background-image: url("../img/tools/prev_button.png");
    width: 118px;
    margin-right: 4%;
    transition: all 0.2s ease-in-out;
}

#backButton:hover {
     background-image: url("../img/tools/prev_button_hover.png");
     transition: all 0.2s ease-in-out;
 }

#backButtonLast:hover {
    background-image: url("../img/tools/prev_button_hover.png");
    transition: all 0.2s ease-in-out;
}

#imagebox {
    position: relative;
    /*left: -128px;*/
    z-index: 99;
}

.imageswap{
    position: absolute;
    width: 1728px;
    height: 864px;
    z-index: 99;
}

#lastDialog {
    position: relative;
    display: none;
    /*left: -128px;*/
    z-index: 99;
}

.last{
    position: absolute;
    width: 1728px;
    height: 864px;
    z-index: 99;
}

#canvas img {
    align-content: center;
}


/*All the clues*/

/*-----Chapter Tutorial------*/
.letterT {
    position: absolute;
    top: 48%;
    left: 47%;
    width: 132px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0);
    z-index: 2;
}

.newspaperT {
    position: absolute;
    top: 75%;
    left: 40%;
    width: 132px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0);
    z-index: 2;
}

.mapT {
    position: absolute;
    top: 74%;
    left: 88%;
    width: 132px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0);
    z-index: 2;
}

/*-----Chapter 1------*/

.Louis_14 {
    position: absolute;
    top: 41%;
    left: 24%;
    width: 132px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0);
    z-index: 2;
}


.bastille {
    position: absolute;
    top:41%;
    left:69%;
    width: 132px;
    height: 150px;
    background-color: rgba(255, 255, 255, 0);
    z-index: 2;
}

.Louis_16 {
    position: absolute;
    top:32%;
    left:44%;
    width: 218px;
    height: 335px;
    background-color: rgba(255, 255, 255, 0);
    z-index: 2;
}

.coin {
    position: absolute;
    top:72%;
    left:10%;
    width: 100px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0);
    z-index: 2;
}

.frenchRevo {
    position: absolute;
    top:62%;
    left:23%;
    width: 150px;
    height: 90px;
    background-color: rgba(255, 255, 255, 0);
    z-index: 2;
}

.freedom {
    position: absolute;
    top:62%;
    left:70%;
    width: 120px;
    height: 90px;
    background-color: rgba(255, 255, 255, 0);
    z-index: 2;
}

/*-----Chapter 2------*/

.coinsGeorge {
    position: absolute;
    top:49%;
    left:55%;
    width: 110px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0);
    z-index: 2;
}

.bridge1760 {
    position: absolute;
    top:48%;
    left:86%;
    width: 120px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0);
    z-index: 2;
}

.Buckingham_palace {
    position: absolute;
    top:28%;
    left:37%;
    width: 200px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0);
    z-index: 2;
}

.George_IV_1821_color {
    position: absolute;
    top:38%;
    left:23%;
    width: 70px;
    height: 90px;
    background-color: rgba(255, 255, 255, 0);
    z-index: 2;
}

.Industrial_Revolution {
    position: absolute;
    top: 58%;
    left: 11%;
    width: 270px;
    height: 120px;
    background-color: rgba(255, 255, 255, 0);
    z-index: 2;
}

/*-----Chapter 3------*/

.Great_Exhibition {
    position: absolute;
    top:25%;
    left:22%;
    width: 130px;
    height: 130px;
    background-color: rgba(255, 255, 255, 0);
    z-index: 2;
}

.Urban_Working{
    position: absolute;
    top:10%;
    left:10%;
    width: 120px;
    height: 470px;
    background-color: rgba(255, 255, 255, 0);
    z-index: 2;
}

.Population_Explosion{
    position: absolute;
    top:60%;
    left:47%;
    width: 200px;
    height: 115px;
    background-color: rgba(255, 255, 255, 0);
    z-index: 2;
}

.Political_Changes{
    position: absolute;
    top:60%;
    left:36%;
    width: 100px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0);
    z-index: 2;
}

.development{

    position: absolute;
    top:35%;
    left:64%;
    width: 115px;
    height: 115px;
    background-color: rgba(255, 255, 255, 0);
    z-index: 2;
}

.steam{
    position: absolute;
    top:35%;
    left:80%;
    width: 85px;
    height: 210px;
    background-color: rgba(255, 255, 255, 0);
    z-index: 2;
}

.devMap{
    position: absolute;
    top:52%;
    left:21%;
    width: 120px;
    height: 120px;
    background-color: rgba(255, 255, 255, 0);
    z-index: 2;
}
/*Clues end here*/

/*Pop-ups*/


.mask {
    width: 100%;
    height: 100%;
    z-index: 3;
    background: #000000;
    position: fixed;
    top: 0;
    left: 0;
    display: none;

}

.winmask {
    width: 100%;
    height: 100%;
    z-index: 99;
    background: #000000;
    position: fixed;
    top: 0;
    left: 0;
    display: none;

}

#winmessage {
    display: none;
    width:360px;
    height:360px;
    padding:8px;

    background: rgba(255, 147, 65, 0);

    -webkit-border-radius:8px;
    -moz-border-radius:8px;
    border-radius:8px;

    position:absolute !important;
    top:50% !important;
    left:50% !important;
    margin-top:-94px !important;
    margin-left:-180px !important;
    z-index:101;
}


#wrongMask {
    position: absolute;
    top: -100px;
    width: 1728px;
    height: 864px;
    z-index: 99;
    display: none;
}

#continueButton {
    background-image: url("../img/tools/continue_button.png");
    width: 191px;
    position: absolute;
    top: 100%;
    left: 74%;
    z-index: 12;
    transition: all 0.2s ease-in-out;
}

#continueButton:hover {
    background-image: url("../img/tools/continue_button_hover.png");
    transition: all 0.2s ease-in-out;
}

#heading{
    font-size:18px;
    font-weight:bold;
    text-align:center;
    line-height:44px;

    color: #ffffff;
    margin-bottom: 10px;
    text-shadow:0px 1px 0px rgba(255, 255, 255, 0.22);
}




#winmessage>#content>p{
    color:#fff;
}

.button{
    margin-top: 20px;
    text-align: center;
}

.btnB {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    float: left;
}

.btnB:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}

.btnO {
    background: #d98934;
    background-image: -webkit-linear-gradient(top, #d98934, #c96800);
    background-image: -moz-linear-gradient(top, #d98934, #c96800);
    background-image: -ms-linear-gradient(top, #d98934, #c96800);
    background-image: -o-linear-gradient(top, #d98934, #c96800);
    background-image: linear-gradient(to bottom, #d98934, #c96800);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    float: right;
}

.btnO:hover {
    background: #c7752e;
    background-image: -webkit-linear-gradient(top, #c7752e, #ab440c);
    background-image: -moz-linear-gradient(top, #c7752e, #ab440c);
    background-image: -ms-linear-gradient(top, #c7752e, #ab440c);
    background-image: -o-linear-gradient(top, #c7752e, #ab440c);
    background-image: linear-gradient(to bottom, #c7752e, #ab440c);
    text-decoration: none;
}

.btnOLast {
    background: #d98934;
    background-image: -webkit-linear-gradient(top, #d98934, #c96800);
    background-image: -moz-linear-gradient(top, #d98934, #c96800);
    background-image: -ms-linear-gradient(top, #d98934, #c96800);
    background-image: -o-linear-gradient(top, #d98934, #c96800);
    background-image: linear-gradient(to bottom, #d98934, #c96800);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    margin-top: 15px;
    text-decoration: none;

}

.btnOLast:hover {
    background: #c7752e;
    background-image: -webkit-linear-gradient(top, #c7752e, #ab440c);
    background-image: -moz-linear-gradient(top, #c7752e, #ab440c);
    background-image: -ms-linear-gradient(top, #c7752e, #ab440c);
    background-image: -o-linear-gradient(top, #c7752e, #ab440c);
    background-image: linear-gradient(to bottom, #c7752e, #ab440c);
    text-decoration: none;
}

#window {
    width: 800px;
    max-height: 1000px;
    position: fixed;
    background-color: #FFFFFF;
    top: -864px;
    left: 50%;
    right: 50%;
    margin-left: -410px;
    z-index: 4;
    padding: 20px 30px 30px 30px;
    display: none;
}

#window:before, #window:after {
    content: " ";
    clear: both;
    display: block;
}

#register {
    width: 800px;
    background: #ffffff;
    position: fixed;
    top: -864px;
    left: 50%;
    margin-left: -250px;
    z-index: 99;
    display: none;
}

.close {
    position: absolute;
    right: 10px;
    top: 10px;
}

.close-icon {
    width: 20px;
    height: 20px;
    /*background-image: url("../img/close.png");*/
    background-size: cover;

}

.showImage {
    float: left;
    max-width: 45%;
}

.showImage img {
    width: auto;
}

.existClueImage {
    height: auto;
    max-width: 100%;
    width: 340px;
    overflow: hidden;
    vertical-align: top;
}

.clueImage {
    height: auto;
    max-width: 100%;
    width: 340px;
    overflow: hidden;

    vertical-align: top;
}

.introduction {
    float: right;
    width: auto;
    max-width: 45%;
    max-height: 500px;
    margin-left: 40px;
    overflow-y: scroll;
}

.introduction .header {
    font-family: Bookman;
    line-height: 48px;
    font-size: 32px;
    color: #000000;
}

.clueText{
    word-wrap: break-word;
    font-family: Bookman;
    line-height: 24px;
    font-size: 18px;
    color: #222222;
}


#mp3_T{

    position:absolute;
    top:95%;
    left: 1%;
    z-index: 3;
}

#mp3_1{
    position:absolute;
    top:95%;
    left: 1%;
    z-index: 3;
}

#video {
    position:absolute;
    top: 12%;
    z-index: 999;
}

#countdown{
    position:absolute;
    z-index: 3;
}

#clues{
    position: absolute;
    background-image: url("../img/tools/clues.png");
    background-size: cover;
    right: 10%;
    z-index: 4;
}



.question{
    display: none;
    position: absolute;
    left:26%;
    z-index: 2;
}

.questionimg{
    height: 100%;
    width: 875px;
}

#checkinput{
    display: none;
    top:700px;
    left: 50%;
    right: 50%;
    margin-left: -314px;
    position: relative;
    z-index: 10;
    width: 624px;
    height: auto;
    font-family: Bookman;
    font-weight: 500;
    font-size: 24px;
    color: #ebd9a9;
}

.custom{
    cursor:url(../img/tools/magnifying_glass.png), auto;
}

input.game-input {
    
    background-image: url("../img/tools/input.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: rgba(0,0,0,0);
    width: 624px;
    height: 85px;
    padding: 15px 150px;
    margin-bottom: 10px;
    border: none;
    float: left;
    text-align: center;
}

input.game-input::-webkit-input-placeholder {
    font-weight: 500;
    font-size: 24px;
    font-family: Bookman;
    color: #ebd9a9;
    text-align: center;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

input.game-input:-moz-placeholder {
    font-weight: 500;
    font-size: 24px;
    font-family: Bookman;
    color: #ebd9a9;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

input.game-input::-moz-placeholder {
    font-weight: 500;
    font-size: 24px;
    font-family: Bookman;
    color: #ebd9a9;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

input.game-input:-ms-input-placeholder {
    font-weight: 500;
    font-size: 24px;
    font-family: Bookman;
    color: #ebd9a9;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

input.game-input:focus::-webkit-input-placeholder {
    color: transparent;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

input.game-input:focus:-moz-placeholder {
    color: transparent;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

input.game-input:focus::-moz-placeholder {
    color: transparent;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

input.game-input:focus:-ms-input-placeholder {
    color: transparent;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

#submit {
    background-image: url("../img/tools/submit.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgba(0,0,0,0);
    width: 170px;
    height: 48px;
    border: none;
    margin: 0 40px 10px 102px;
    text-indent: 999px;
    overflow: hidden;
    float: left;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

#submit:hover {
    background-image: url("../img/tools/submit_hover.png");
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

#clear {
    background-image: url("../img/tools/clear.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: rgba(0,0,0,0);
    width: 170px;
    height: 48px;
    margin: 0 102px 10px 40px;
    text-indent: 999px;
    overflow: hidden;
    border: none;
    float: left;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}
#clear:hover {
    background-image: url("../img/tools/clear_hover.png");
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}

