@font-face {
    font-family:"Bookman";
    font-style: normal;
    font-weight: 400;
    src: local('Bookman Old Style Normal'), local('Bookman-Old-Style-Normal'),
    url(../resource/font/BOOKOS.TTF),
    url(../resource/font/BOOKOS.woff);
}

@font-face {
    font-family:"Bookman";
    font-style: normal;
    font-weight: 800;
    src: local('Bookman Old Style Bold'), local('Bookman-Old-Style-Bold'),
    url(../resource/font/BOOKOSB.TTF),
    url(../resource/font/BookmanOldStyle-Bold.woff);
}

.wrapper{
    text-align: center;
    width: 100%;
    font-family: Bookman, Helvetica, Arial, sans-serif;
    background: #F5F5F5;
}

.masthead{
    /*background: #E04F4C;*/
    /*background: #C58177;*/
    /*background: #DB9186;*/
    /*background: #4D3606;*/
    background-color: rgba(122, 122, 122, 0.94);
    background-image: repeating-linear-gradient(45deg, transparent 5px, hsla(197, 62%, 11%, 0.5) 5px, hsla(197, 62%, 11%, 0.5) 10px,
    hsla(5, 53%, 63%, 0) 10px, hsla(5, 53%, 63%, 0) 35px, hsla(33, 61%, 46%, 0.5) 35px, hsla(33, 61%, 46%, 0.5) 40px,
    hsla(197, 62%, 11%, 0.5) 40px, hsla(197, 62%, 11%, 0.5) 50px, hsla(197, 62%, 11%, 0) 50px, hsla(197, 62%, 11%, 0) 60px,
    hsla(33, 40%, 61%, 0.5) 60px, hsla(33, 40%, 61%, 0.5) 70px, hsla(0, 0%, 78%, 0.5) 70px, hsla(45, 2%, 72%, 0.5) 80px,
    hsla(35, 91%, 65%, 0) 80px, hsla(35, 91%, 65%, 0) 90px, hsla(33, 40%, 61%, 0.5) 90px, hsla(33, 40%, 61%, 0.5) 110px,
    hsla(5, 53%, 63%, 0) 110px, hsla(5, 53%, 63%, 0) 120px, hsla(197, 62%, 11%, 0.5) 120px, hsla(197, 62%, 11%, 0.5) 140px
    ),
    repeating-linear-gradient(135deg, transparent 5px, hsla(197, 62%, 11%, 0.5) 5px, hsla(197, 62%, 11%, 0.5) 10px,
            hsla(5, 53%, 63%, 0) 10px, hsla(5, 53%, 63%, 0) 35px, hsla(33, 61%, 46%, 0.5) 35px, hsla(33, 61%, 46%, 0.5) 40px,
            hsla(197, 62%, 11%, 0.5) 40px, hsla(197, 62%, 11%, 0.5) 50px, hsla(197, 62%, 11%, 0) 50px, hsla(197, 62%, 11%, 0) 60px,
            hsla(33, 40%, 61%, 0.5) 60px, hsla(33, 40%, 61%, 0.5) 70px, hsla(0, 0%, 78%, 0.5) 70px, hsla(45, 2%, 72%, 0.5) 80px,
            hsla(35, 91%, 65%, 0) 80px, hsla(35, 91%, 65%, 0) 90px, hsla(33, 40%, 61%, 0.5) 90px, hsla(33, 40%, 61%, 0.5) 110px,
            hsla(5, 53%, 63%, 0) 110px, hsla(5, 53%, 63%, 0) 140px, hsla(197, 62%, 11%, 0.5) 140px, hsla(197, 62%, 11%, 0.5) 160px
    );

}

.headbox{
    /*height: 750px;*/
    padding-top: 30px;
    padding-bottom: 60px;
    z-index: 100;
}
.homelogin{
    color: #FFFFFF;
    text-align: right;
}

.shadow-btm{
    -webkit-box-shadow: 0 8px 6px -6px #707070;
    -moz-box-shadow: 0 8px 6px -6px #707070;
    box-shadow: 0 8px 6px -6px #707070;
}

.shadow-top{
    -webkit-box-shadow: 0 -8px 6px -6px #707070;
    -moz-box-shadow: 0 -8px 6px -6px #707070;
    box-shadow: 0 -8px 6px -6px #707070;
}

.secondbox{
    /*z-index: 1;*/
    /*width: 100%;*/
    margin: 95px 70px;
}

.secondboxrow{
    margin-top: 60px;
}
.secondboxheader{
    font-size: 2.8em;
    margin-top: 5px;
}

.secondboxtext{
    font-size: 16px;
    display: block;
    /*overflow: hidden;*/
    margin-top: 50px;
    /*color: #47120B;*/
    color: #434E63;
}
.btn-outline{
    color: #fff;
    background-color: transparent;
    border-color: #fff;
}

.joingame{
    font-size: 2em;
    padding: 16px 32px;
    margin-top: 64px;
    margin-bottom: 96px;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    color: #FFFFFF;
}

a.joingame:link{
    color: #FFFFFF;
}

a.joingame:visited{
    color: #FFFFFF;
}

a.joingame:hover{
    background: #F5F5F5;
    border-color: #F5F5F5;
    color: #4F4F4F;
    transition: all 0.4s ease;
}

.buttontext {
    font-family: Bookman;
    font-weight: 800;
}

.textbox{
    margin-top: 128px;
    margin-left: 90px;
    margin-right: 90px;
    color: #ffffff;

}
.headertext{
    font-size: 28px;
    color: #FFFFFF;
    display: block;
    font-family: Bookman;
    text-align: center;
}

.lead {
    text-align: center;
    display: block;
    padding-top: 128px;
}

.lead img {
    height: 448px;
}

.thirdbox{
    width: 100%;

    background: #F5EAE6;

}
.feature-heading{
    line-height: 48px;
    font-size: 32px;
    word-wrap: break-word;
    font-weight: 800;
    font-family: Bookman, Helvetica, Arial, sans-serif;
}

.feature-body-right{
    text-align: left;
}
.feature-body-left{
    text-align: left;
}

p.feature-body-left{
    color: #ABA9A9;
}

p.feature-body-right{
    color: #ABA9A9;
}


.feature {
    background: #222222;
    color: #CCCCCC;
}
.feature-text-body{
    padding: 190px 70px 32px 128px;
    font-family: Bookman;
    font-size: 24px;
    line-height: 32px;
    word-wrap: break-word;
}

.feature-text-body-2{
    padding: 96px 70px 128px 128px;
    font-family: Bookman;
    font-size: 24px;
    line-height: 32px;
    word-wrap: break-word;
}

.feature-img{
    max-height: 580px;
    height: auto;
    display: block;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
}

.feature-img img {
    padding: 64px;
    max-height: 628px;
}

#feature1 {
    background-image: url("../resource/img/site/Q1.png");
    background-position: top left;
    height: 500px;
    max-width: 40%;
    margin: 64px;
    background-size: cover;
    background-repeat: no-repeat;
}

#feature2 {
    background-image: url("../resource/img/site/Q3.png");
    background-position: top right;
    height: 500px;
    max-width: 40%;
    margin: 64px;
    background-size: contain;
    background-repeat: no-repeat;
}

.half-rule{
    width: 400px;
    background-color: #DB9186;
    border-color: #DB9186;
    color: #DB9186;
}

.btnnav{
    text-align: center;
    height: 170px;
    background: #BD7C2E;
    margin-bottom: 0;
}

.btnnav-tab a{
    text-decoration: none;
    color: #CCCCCC;
}
.btnnav-tab a:hover{
    text-decoration: none;

}
#btm-nav{
    padding-top: 65px;
    width: 100%;
}
.ip{
    padding-top: 10px;
    padding-bottom: 16px;
}

.topnav{
    background: #434E63;
    margin-bottom: 0;
}

.navbar-brand,
.navbar-nav li span, .navbar-nav li a{
    line-height: 70px;
    height: 70px;
    padding-top: 0;
    -webkit-text-fill-color: white;
}

.nav li span{
    padding: 27px 15px;

}

.navbar-default .navbar-nav{
    background: #434E63;
    height: 70px;
    padding-bottom: 30px;
}

.navbar-default .navbar-nav > li > span:hover {
    background-color: #172563;
    color: #fff;
    cursor: pointer;
    /*border-radius: 2rem;*/
}


.navbar-default .navbar-nav > li > span:focus{
    background-color: #172563;
    color: #fff;
    /*border-radius: 2rem;*/

}

/*-- change navbar dropdown color --*/
.navbar-default .navbar-nav .open .dropdown-menu>li>a,
.navbar-default .navbar-nav .open .dropdown-menu {
    background-color: #ffffff;
    -webkit-text-fill-color:#434E63;
}

.dropdown-toggle{
    -webkit-text-fill-color: #434E63;
}

.dropdown-toggle:active, .open .dropdown-toggle {
    background: #172563 !important;
}

.container{
    padding-top: 0;
    padding-bottom: 0;
}

.progressbar {
    position: relative;
    display: block;
    max-width: 100%;
    height: auto;
    border: none;
    margin: 1em 0em 2.5em;
    box-shadow: none;
    background: rgba(131, 144, 183, 0.86);
    padding: 0em;
    border-radius: 0.28571429rem;
    text-align: right;

}

.percentagebar{
    position: relative;
    display: block;
    max-width: 100%;
    height: auto;
    border: none;
    margin: 1em 0em 2.5em;
    box-shadow: none;
    /*background: rgba(74, 91, 183, 0.86);*/
    background-image: url("../img/tools/texture.jpg");
    background-position: center;
    background-size: contain;
    background-repeat: repeat-x;
    padding: 4px 6px;
    border-radius: 0.28571429rem;
}

.bartext{
    padding: 4px 6px;
    -webkit-text-fill-color: #fff;
    font-size: 18px;
    color: #fff;
}

.gameText{
    color: #172563;
    margin-bottom: 20px;
}

.gameIntro{
    font-size: 16px;
    color: #333;
}

#congrats{
    color: #BD7C2E;
    font-size: 22px;
}

.percentagebar {
    background: #5E6A6E;
}

.box {
    cursor: pointer;
    height: 300px;
    position: relative;
    overflow: hidden;
    width: 400px;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    margin: auto auto;
    border-radius: 4px;
    background-color: #333;
    vertical-align: middle;
}

.box img {
    /*position: absolute;*/
    /*left: 0;*/
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

.chapter-img {
    display: block;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
}

.box .overbox {
    background-color: rgba(48, 69, 98, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    /*z-index: 100;*/
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    opacity: 0;
    width: 400px;
    height: 300px;
    padding: 130px 20px;
    border-radius: 4px;
}

.box:hover .overbox { opacity: 1; }


.box .overtext {
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
    transform: translateY(40px);
    -webkit-transform: translateY(40px);
}

.box .title {
    font-size: 2.5em;
    text-transform: uppercase;
    opacity: 0;
    transition-delay: 0.1s;
    transition-duration: 0.2s;
}

.box:hover .title,
.box:focus .title {
    opacity: 1;
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
}

.box .tagline {
    padding-top: 16px;
    font-size: 0.8em;
    opacity: 0;
    transition-delay: 0.2s;
    transition-duration: 0.2s;
}

.box:hover .tagline,
.box:focus .tagline {
    opacity: 1;
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
}

#progressContainer{
    margin-top: 55px;
    margin-bottom: 40px;
}

md-backdrop{
    position: fixed;
}
