#lbWrapper{
    max-width: 600px;
    margin: 80px auto 0 auto;
}

#lbWrapper h3, #lbWrapper h2, #lbWrapper h4{
    display: block;
    float: left;
}

#lbWrapper h3{
    margin-top: 5px;
}

#lbWrapper p{
    display: block;
    float: right;
}

.list-title {
    color: #333;
}

.list-title-time {
    margin-top: 5px;
}

.list-title-username{
    margin-left: 50px;
}

.list-order {
    margin: 20px 20px 0 20px;
}
