<footer>
    <div class="btnnav">
        <div class="ui horizontal bulleted link list" id="btm-nav">
            <a class="item">
                Home
            </a>
            <a class="item">
                About Us
            </a>
            <a class="item">
                Terms and Conditions
            </a>
            <a class="item">
                Privacy Policy
            </a>
        </div>
        <div class="ui horizontal list">
            <div class="item">
                <i class="large facebook square icon"><a href="#"></a></i>
            </div>
            <div class="item">
                <i class="large twitter square icon"><a href="#"></a></i>
            </div>
            <div class="item">
                <i class="large google plus square icon"><a href="#"></a></i>
            </div>
        </div>
        <div class="ip">
            <p>&#169;Copyright</p>
        </div>

    </div>
</footer>