<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Chapter 3 </title>
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="lib/bootstrap/css/bootstrap-theme.css" rel="stylesheet">
    <!--<link href="../lib/semantic-ui/semantic.min.css" rel="stylesheet">-->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" />

    <link href="css/home.css" rel="stylesheet">
    <link href="css/game.css" rel="stylesheet">
    <link rel="stylesheet" href="assets/countup/jquery.countup.css" />

    <script src="lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="lib/jquery/jquery.plugin.min.js"></script>
</head>

<body style="background-color: #333333" ng-app="TruthDetective">
    <nav class="topnav navbar navbar-default navbar-static-top" ng-controller="testCtrl">
        <div class="container">
            <div class="navbar-header">
                <span class="navbar-brand">Truth Detective</span>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse navHeaderCollapse">
                <ul class="nav navbar-nav">
                    <li><span ng-click="toDash()">Home</span></li>
                    <li><span>Leaderboard</span></li>
                    <li><span>Profile</span></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{username}}<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Account Setting</a></li>
                            <li><a href="#">Invite Friends</a></li>
                            <li><a href="#">Help</a></li>
                            <li><a href="index.html">Log Out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- JavaScript includes -->
    <div id="game">
        <div class="game_row">
            <div class="game_container">
                <div class="mp3player">
                    <audio id="mp3_1" src="mp3/The Professor's Reasonings.mp3" controls autoplay loop></audio>
                </div>
                <div id="winmessage" ng-controller="testCtrl">
                    <div id="heading">
                        Congratulations! Your detection time is:
                    </div>
                    <div id="content" class="button">
                        <p></p>
                        <!--<a href="#" class="btnB" ng-click="completeThree()">Next Chapter</a>-->
                        <a href="user.html" class="btnO" ng-click="completeThreeGoBack()">Go to Dashboard</a>
                    </div>
                </div>
                <div class="winmask"></div>
                <div id="countdown"></div>
                <div id="checkinput">
                    <form>
                        <input class="game-input" type="text" value="" placeholder="Please type your answer" id="question3">
                        <input type="button" id="submit" value="Submit">
                        <input type="button" id="clear" value="clear">
                    </form>
                </div>

                <div id="canvas" class="level3" ng-controller="imageController">
                    <div id="dialog_box">
                        <div id="imagebox">
                            <img class="imageswap" src="img/char/chapter3/1.png">
                        </div>
                        <div id="wrongMask">
                            <img src="img/char/wrong.png" >
                            <img id="continueButton" class="operationButton" src="img/tools/continue_button.png" alt="continueButton" />
                        </div>
                        <div id="operationButtonBox">
                            <img id="skipButton" class="operationButton" src="img/tools/skip_button.png" alt="backButton" />
                            <img id="backButton" class="operationButton" src="img/tools/prev_button.png" alt="backButton" />
                            <img id="nextButton" class="operationButton" src="img/tools/next_button.png" alt="backButton" />
                        </div>
                    </div>
                    <div class="question">
                        <img class="questionimg" src="img/char/Q3.png">
                    </div>

                    <div id="34407355" class="checkpoint custom Great_Exhibition" ng-mouseleave="Great_Exhibition()"> <!--Great Exhibition--></div>
                    <div id="8250715" class="checkpoint custom Urban_Working" ng-mouseleave="Urban_Working()"> <!--Urban working class--></div>
                    <div class="checkpoint custom Population_Explosion" ng-mouseleave="Population_Explosion()"> <!--Population explosion in England--></div>
                    <div id="" class="checkpoint custom Political_Changes" ng-mouseleave="Political_Changes()"> <!--Political_Changes in England--></div>
                    <div id="" class="checkpoint custom development" ng-mouseleave="development()"> <!--The Booming Development of Urban Areas--></div>
                    <div id="" class="checkpoint custom steam" ng-mouseleave="steam()"> <!--Steam Replacing water power--></div>
                    <div id="" class="checkpoint custom devMap" ng-mouseleave="devMap()"> <!--development of the global map--></div>
                    <!--The following is win pop-up box-->
                    <div class="mask"></div>
                    <div id="window">
                        <div class="close">
                            <div class="close-icon"></div>
                        </div>
                        <div class="clue">
                            <div class="showImage"><img ng-src="{{image}}" class="existClueImage"></div>
                            <!--use angular.js load introduction dynamically-->
                            <div class="introduction">
                                <h2 class="header">{{title}}</h2>
                                <p class="clueText">{{content}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="lib/jquery/jquery.plugin.min.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="lib/angular-material/angular-material.js"></script>
    <script src="lib/semantic-ui/semantic.js"></script>
    <script src="lib/angular-animate/angular-animate.js"></script>
    <script src="lib/angular-cookies/angular-cookies.js"></script>
    <script src="lib/angular-resource/angular-resource.js"></script>
    <script src="lib/angular-route/angular-route.js"></script>
    <script src="lib/angular-sanitize/angular-sanitize.js"></script>
    <script src="lib/angular-touch/angular-touch.js"></script>
    <script src="lib/angular-aria/angular-aria.js"></script>
    <script src="lib/ngstorage/ngStorage.js"></script>

    <script src="js/app.js"></script>
    <script src="js/chapter3.js"></script>
    <script src="js/answer.js"></script>
    <script src="js/services/userService.js"></script>
    <script src="js/services/authenticationService.js"></script>
    <script src="js/services/flashService.js"></script>

    <script src="js/Controller/imgcontroller.js"></script>
    <script src="js/Controller/testController.js"></script>

    <script src="assets/countup/jquery.countup.js" content="canBeDisabled"></script>
    <script src="js/game.js"></script>


</body>
</html>