<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <title></title>
    <link href="lib/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="lib/bootstrap/css/bootstrap-theme.css" rel="stylesheet">
    <link href="lib/semantic-ui/semantic.css" rel="stylesheet">
    <link rel="stylesheet" href="lib/angular-material/angular-material.css" />

    <link href="css/home.css" rel="stylesheet">
    <link href="css/game.css" rel="stylesheet">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" />
    <link rel="stylesheet" href="assets/countup/jquery.countup.css" />
</head>
<body style="background-color: #333333" ng-app="TruthDetective">
    <nav class="topnav navbar navbar-default navbar-static-top" ng-controller="testCtrl">
        <div class="container">
            <div class="navbar-header">
                <span class="navbar-brand">Truth Detective</span>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse navHeaderCollapse">
                <ul class="nav navbar-nav">
                    <li><span ng-click="toDash()">Home</span></li>
                    <li><span>Leaderboard</span></li>
                    <li><span>Profile</span></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{username}}<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Account Setting</a></li>
                            <li><a href="#">Invite Friends</a></li>
                            <li><a href="#">Help</a></li>
                            <li><a href="#">Log Out</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="game">
        <div class="game_row">
            <div class="game_container">
                <div class="mp3player">
                    <!--<audio id="mp3_1" controls autoplay loop>-->
                    <!--<source src="mp3/不思議な町.ogg" type="audio/ogg">-->
                    <!--<source src="mp3/不思議な町.mp3" type="audio/mpeg">-->
                    <!--Your browser does not support the audio element.-->
                    <!--</audio>-->
                    <audio id="mp3_1" src="mp3/不思議な町.mp3" controls autoplay loop></audio>
                </div>

                <div id="winmessage" ng-controller="testCtrl">
                    <div id="heading">
                        Congratulations! Your detection time is:
                    </div>
                    <div id="content" class="button">
                        <p></p>
                        <a href="#" class="btnB" ng-click="completeOne()">Next Chapter</a>
                        <a href="user.html" class="btnO" ng-click="completeOneGoBack()">Go to Dashboard</a>
                    </div>
                </div>
                <div class="winmask"></div>
                <div id="countdown"></div>
                <div id="checkinput">
                    <form>
                        <input type="text" value="" id="question1">
                        <input type="button" id="submit" value="Submit">
                        <input type="button" id="clear" value="clear">
                    </form>
                </div>

                <div id="canvas" class="level1" ng-controller="imageController">
                    <div id="dialog_box">
                        <div id="imagebox">
                            <img class="imageswap" src="img/char/chapter1/1.png">
                        </div>
                        <div id="operationButtonBox">
                            <img id="skipButton" class="operationButton" src="img/tools/skip_button.png" alt="backButton" />
                            <img id="backButton" class="operationButton" src="img/tools/prev_button.png" alt="backButton" />
                            <img id="nextButton" class="operationButton" src="img/tools/next_button.png" alt="backButton" />
                        </div>
                    </div>
                    <div class="question"><img class="questionimg" src="img/char/Q1.png"></div>
                    <div class="checkpoint custom Louis_16" ng-mouseleave="Louis_16()"> <!--Louis XIV--></div>
                    <div class="checkpoint custom bastille" ng-mouseleave="bastille()"> <!--gongzhan bashidiyu--></div>
                    <!--<img src="../resource/img/site/level1.jpg">-->
                    <div class="checkpoint custom freedom" ng-mouseleave="freedom()"> <!--gongzhan bashidiyu--></div>
                    <div id="22743028" class="checkpoint custom Louis_14" ng-mouseleave="Louis_14()"> <!--gongzhan bashidiyu--></div>
                    <div id="32985669" class="checkpoint custom coin" ng-mouseleave="coin()"> <!--gongzhan bashidiyu--></div>
                    <div id="25950372" class="checkpoint custom frenchRevo" ng-mouseleave="frenchRevo()"> <!--gongzhan bashidiyu--></div>

                    <!--The following is win pop-up box-->
                    <div class="mask"></div>
                    <div id="window">
                        <div class="close">
                            <div class="close-icon"></div>
                        </div>
                        <div class="clue">
                            <div class="showImage"><img ng-src="{{image}}" class="existClueImage"></div>
                            <!--use angular.js load introduction dynamically-->
                            <div class="introduction">
                                <h2 class="header">{{title}}</h2>
                                <p class="clueText">{{content}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="lib/jquery/jquery.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="lib/jquery/jquery.plugin.min.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="lib/angular-material/angular-material.js"></script>
    <script src="lib/semantic-ui/semantic.js"></script>
    <script src="lib/angular-animate/angular-animate.js"></script>
    <script src="lib/angular-cookies/angular-cookies.js"></script>
    <script src="lib/angular-resource/angular-resource.js"></script>
    <script src="lib/angular-route/angular-route.js"></script>
    <script src="lib/angular-sanitize/angular-sanitize.js"></script>
    <script src="lib/angular-touch/angular-touch.js"></script>
    <script src="lib/angular-aria/angular-aria.js"></script>
    <script src="lib/ngstorage/ngStorage.js"></script>

    <script src="js/app.js"></script>
    <script src="js/services/userService.js"></script>
    <script src="js/services/authenticationService.js"></script>
    <script src="js/services/flashService.js"></script>

    <script src="js/Controller/testController.js"></script>
    <script src="js/Controller/imgcontroller.js"></script>

    <script src="js/game.js"></script>
    <script src="js/chapter1.js"></script>
    <script src="assets/countup/jquery.countup.js"></script>
</body>
</html>
