<div class="masthead shadow-btm">
  <div class="headbox container" ng-controller="loginCtrl">
    <div class="btn-div container">
      <md-button class="login-btn" ng-click="showLogin($event)"><span class="homelogin">Log in</span></md-button>
    </div>
    <p class="lead headertext">
      Logo placeholder
    </p>
    <div class="textbox">
      <p class="lead headertext">
        Placeholder text cant believe how great this game is!! Sell this shit!!blablablablablabla tis not long enough!!!more more more more!!!
      </p>
    </div>
    <!--<a href="#" class="btn btn-outline btn-lg joingame">Join the game</a>-->
    <md-button class="md-raised joingame"><span class="buttontext">Join the Game</span></md-button>
  </div>
</div>
<div class="secondbox">
  <p class="lead secondboxheader">
    Dare to challenge yourself?
  </p>

  <div class="row secondboxrow">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-king" aria-hidden="true"></span>
      <p class="secondboxtext">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-king" aria-hidden="true"></span>
      <p class="secondboxtext">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-king" aria-hidden="true"></span>
      <p class="secondboxtext">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </div>
  </div>
</div>
<div class="container thirdbox shadow-top">
  <div class="row feature">
    <div class="col-md-6">
      <div class="feature-text-body">
        <h2 class="feature-heading feature-body-left">
          Have fun playing. Have fun learning.
        </h2>
        <p class="feature-body-left">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>
    </div>
    <div class="col-md-6 feature-img">
      <image src="http://semantic-ui.com/images/avatar2/large/kristy.png"></image>
    </div>
  </div>
  <!--<hr class="half-rule">-->
  <div class="row feature">
    <div class="col-md-6 feature-img">
      <image src="http://semantic-ui.com/images/avatar2/large/kristy.png"></image>
    </div>
    <div class="col-md-6 feature-text-body">
      <h2 class="feature-heading feature-body-right">
        Game play is easy
      </h2>
      <p class="feature-body-right">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </div>


  </div>
  <!--<hr class="half-rule">-->
  <div class="row feature">

    <div class="col-md-6 feature-text-body">
      <h2 class="feature-heading feature-body-left">
        We are a group of passionate developers with hearts full of dreams
      </h2>
      <p class="feature-body-left">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </div>
    <div class="col-md-6 feature-img">
      <image src="http://semantic-ui.com/images/avatar2/large/kristy.png"></image>
    </div>

  </div>

</div>
