<md-dialog aria-label="login" style="background-color: #F5F5F5;" ng-controller="signupCtrl">
    <md-content layout-padding layout-margin class="login-content">
        <md-toolbar class="login-toolbar">
            <div class="close-button-container">
                <md-button class="md-icon-button close-button" ng-click="cancel()">
                    <md-icon md-svg-src="../images/icons/ic_close_black_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <form name="signupForm" id="signup-form" ng-submit="register()">
            <md-dialog-content class="signup-field">
                <md-input-container flex>
                    <label>Username</label>
                    <input type="text" name="username" ng-model="user.username" required>
                  <span ng-show="form.username.$dirty && form.username.$error.required" class="signup-helper">Username is required</span>
                </md-input-container>
                <md-input-container flex>
                    <label>Password</label>
                    <input type="password" name="password" ng-model="user.password" required>
                </md-input-container>
            </md-dialog-content>
        </form>
        <div class="signup-redirect">
            <p>Already have an account? <span class="linkInLogin" ng-click="showLogin()">Log in</span> and play!</p>
        </div>
        <div>
          {{replace}}
        </div>
        <div class="center-btn">
            <md-button class="md-raised signup-submit" ng-click="register()" ng-disabled="signupForm.$invalid">
              <span class="signup-submit-text">sign up</span>
            </md-button>
        </div>
    </md-content>
</md-dialog>
